<div class="container">
  <div class="row">
    <div class="col-md-12 text-center" id="top-bar">
			<img src="/assets/images/burger.jpg" alt="burger" width= "200px" height="200px" />
      <h1>Eat-Da-Burger!</h1>
  </div>
    {{!-- <h2>Cats that are not sleepy!</h2> --}}

    <div class="col-md-6 text-center" class="addfood">
      {{#each burgers}}
        {{#unless sleepy}}
          {{> burgers/burger-block sleep=true}}
        {{/unless}}
      {{/each}}
    </div>

    {{!-- <h2>Cats that are sleepy!</h2> --}}

    <div class = "col-md-6 text-center">
      {{#each burgers}}
        {{#if sleepy}}
          {{> burgers/burger-block sleep=false}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<div class="container">
  <div class= "row">
    <div class= "col-md-12 text-center">
      <h2>Add a Burger</h2>
        <form class="create-form">
          <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="name">
          </div>
          <button class="addburger" type="submit">Add Burger</button>
        </form>
    </div>
  </div>
  
</div> 
